@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Noto+Sans+SC:wght@300;400;500;700&display=swap');
@import '~tailwindcss/tailwind.css';
@import '~katex/dist/katex.min.css';
@import '~rc-dropdown/assets/index.css';
@import '~react-notion-x/src/styles.css';

body {
  @apply font-sans;
}

.notion {
  @apply font-sans text-lg text-gray-700 leading-7;
}

.notion-page {
  @apply block;
}

.notion-text {
  @apply text-gray-600;
}

.notion-h {
  @apply block;
}

.notion b {
  @apply font-medium;
}

.notion-hr {
  @apply border-t border-solid bg-gray-200 my-8;
}

.notion-list {
  @apply pl-0 list-none;
}

.notion-list > .notion-list {
  @apply pl-6;
}

.notion-list-disc > .notion-list-disc > .notion-list-numbered,
.notion-list-numbered > .notion-list-numbered > .notion-list-disc {
  @apply pl-0;
}

.notion-list > li {
  @apply relative pl-6;
}

.notion-list-disc > li:before {
  content: "";
  @apply absolute	left-1 w-1.5 h-1.5 rounded-full bg-gray-300;
  top: calc(.875em - .1875em);
}

.notion-list-numbered > li:before {
  content: counter(list-item) ".";
  @apply absolute left-0 text-gray-500 font-normal;
}

.notion-link {
  @apply no-underline border-0 font-medium;
  color: #0e7490;
  box-shadow: inset 0 -0.125em 0 0 transparent,
    inset 0 -0.375em 0 0 rgba(165, 243, 252, 0.4);
}

.notion-inline-code .notion-link {
  @apply text-current underline;
  box-shadow: unset;
}

.notion-inline-code {
  @apply font-normal text-purple-600 bg-purple-50;
}

.notion-quote {
  @apply bg-yellow-100 border-l-8 border-yellow-500 my-6 p-3 rounded-sm;
}

.notion-bookmark {
  @apply border-2 border-gray-100;
}

.notion-bookmark:hover {
  @apply border-blue-500;
}

.notion-viewport {
  z-index: -10;
}

.notion-asset-wrapper img {
  @apply rounded-sm;
}

.notion-property-checkbox-checked,
.notion-property-checkbox-unchecked {
  @apply rounded-sm;
}

.notion-callout {
  @apply border-0;
}
